/* Variables */

:root {
	--background: #44475a;
	--appbg: #282a36;
	--green: #27d853;
	--red: #ff5555;
	--purple: #9b63eb;

	--personal: #ff79c6;
	--business: #ffb86c;

	--text: #f8f8f2;
	--shadow: #6272a4;
	--boxshadow: 0 0 10px
}

/* Resets */

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
	appearance: none;
	border: none;
	background: none;
	cursor: initial;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

/* ========================================================================= */

/* 							Styles     						   	             */

/* ========================================================================= */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--appbg);
	color: var(--text);
}

.app {
	margin: 1rem;
}

section {
	margin: 1rem;
}

h2, h3 {
	margin: 1rem 0;
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
}

/* ========================================================================= */

/* 							Section greeting   				   	             */

/* ========================================================================= */

.greeting .title {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.greeting .title input[type="text"] {
	color: var(--text);
	font-size: 1.3rem;
	width: 60%;
}

.greeting .title input[type="text"]:focus {
	outline: none;
}

.greeting .title input::placeholder {
	color: var(--purple);
	font-style: italic;
}

/* ========================================================================= */

/* 							Section create todo 							 */

/* ========================================================================= */

.create-todo h2 {
	font-size: 1.3rem;
}

.create-todo input[type="text"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: var(--text);
	padding: 1rem;
	border-radius: 5px;
}

.create-todo input[type="text"]:hover {
	box-shadow: var(--boxshadow) var(--shadow);
	transition: 0.2s ease-in-out;
}

.create-todo input[type="text"]:focus {
	box-shadow: var(--boxshadow) var(--shadow);
	transition: 0.2s ease-in-out;
	outline: none;
}

.create-todo .label-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.create-todo label {
	background-color: var(--background);
	display: block;
	width: 50%;
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
}

.create-todo label:first-child {
	margin-right:1rem ;
}

.create-todo label:first-child:hover {
	box-shadow: var(--boxshadow) var(--business);
}

.create-todo label:hover {
	cursor: pointer;
	box-shadow: var(--boxshadow) var(--personal);
	transition: 0.1s ease-in-out;
}

.bubble {
	width: 15px;
	height: 15px;
	border:3px solid var(--business);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

input:checked + .bubble {
	transition: 0.2s ease-in-out;
	background-color: #ffb86cb4;
	box-shadow: 0 0 8px var(--business);
}

input:checked + .bubble.personal {
	transition: 0.2s ease-in-out;
	background-color: #ff79c596;
	box-shadow: 0 0 8px var(--personal);
}

.create-todo .bubble {
	margin: 0.5rem auto 0.5rem auto;
}

.bubble.personal {
	border: 3px solid var(--personal);
}

.create-todo button {
	display: block;
	margin: 1rem auto 1rem auto;
	width: 100%;
	background-color: var(--green);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem;
	color: var(--text);
	border-radius: 5px;
	cursor: pointer;
}

.create-todo button:hover {
	box-shadow: var(--boxshadow) #50fa7a92;
	opacity: 0.85;
}

/* ========================================================================= */

/* 							Section list     				   	             */

/* ========================================================================= */
.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: var(--background);
	padding: 1.5rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

.todo-list label {
	margin-right: 1rem;
}

.todo-list .todo-content {
	width: 90%;
}

.todo-list input[type="text"] {
	color: var(--text);
	font-size: 1.2rem;
	width: 95%;
}

.todo-list .done {
	font-style: italic;
	text-decoration: line-through;
}

.todo-list input[type="text"]:focus {
	color: var(--text);
	outline: none;
}

.todo-list .btns {
	display: flex;
}

.todo-list button {
	cursor: pointer;
	border: 1px solid red;
	background-color: lightblue;
	padding: 0.5rem;
	border-radius: 5px;
	font-weight: bold;
	margin-right: 5px;
}

.todo-list button:hover {
	opacity: 0.75;
	transition: 0.1s ease-in-out;
}

.todo-list .edit {
	border: 1px solid purple;
	background-color: var(--purple);
	color: var(--text);
}

.todo-list .delete {
	border: 1px solid red;
	background-color: var(--red);
	color: var(--text);
}